<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML>
<style>    
	@import "compass/css3"
	html, body{
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 11pt "Arial";
    }

    hr {
    	border-style: solid;
    	border-width: 2;
    }

    input {
    	padding: 1px;
    	word-wrap: break-word;
    	text-align: center;
    }

    textarea {
    	outline: 0;
    	width: 100%;
    	max-height: 200px;
    	background: transparent;
    	padding: 1px;
    	margin: 1px;
    	resize: none;
  		word-wrap: break-word;
  		overflow: hidden;
    }

    .alignleft {
    	float:left;
    }

    .alignright {
    	float:right;
    }

    table {
	    width: 100%;
	    border-collapse:collapse;
	    margin: auto;
	    border: 2px solid black;
	    table-layout: fixed;
	}
	td {
	    text-align: center;
	}
	td input {
	    box-sizing: border-box;
	    width: 100%;
	    padding: 0;
	}

    p, ol {
    	margin: 0;
    	padding: 0;
    	size: 8.5in 11in;
    	word-wrap: break-word;

    }

    .table-editable {
    	position: relative;

    	.glyphicon {
    		font-size: 25px;
    	}
    }

    li {
    	list-style-position: inside;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 8.5in;
        min-height: 11in;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }
    @page {
        size: letter;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<HEAD >
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Windows User">
	<META NAME="CREATED" CONTENT="20150710;5100000000000">
	<META NAME="CHANGEDBY" CONTENT="user">
	<META NAME="CHANGED" CONTENT="20160711;25100000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Hewlett-Packard Company">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
</HEAD>
<BODY LANG="en-PH" LINK="#0563c1" DIR="LTR">
<div class="page">
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>University
of the Philippines</B></FONT></FONT><SPAN DIR="LTR" STYLE="float: right; width: 2.01in; height: 1.78in; border: 1px solid #000000; padding: 0.05in 0.1in; background: #ffffff "><FONT FACE="Arial, serif">ID PHOTO</FONT>
</SPAN>
</P>
<P ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">College
of Engineering 
<br>
Melchor
Hall, Diliman, Quezon City 1101
<br>
Tel/Fax:
+632 981 8500 ext 3152</FONT></FONT></P>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"></FONT></FONT></P>
<P  ><BR>
</P>
<P  ><BR>
</P>
<hr>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Undergraduate
Scholarships and Study Grants</FONT></FONT></P>
<P STYLE="text-indent: 0.5in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>APPLICATION
FORM</B></FONT></FONT></P>
<P><BR>
</P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2>INSTRUCTIONS:
Accomplish this form and submit to the Office of the Associate Dean
for Student Affairs, UP College of Engineering. Attach with this form
the following: </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>1)
a letter of endorsement from your department chairperson/institute
director;    2) an SDC clearance; 3) a copy of recent Form5 with ID;
4) a copy of parents ITR;   5) TCG; and   6) Letter of intent address
to Donor/ADSA</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>.
 Please see announcements from the Committee on Scholarships of the
UP College of Engineering for the deadline of the submission.</FONT></FONT></P>
<hr>
<fieldset>
<legend><b><p>Applicant</p></b></legend>
<%= form_tag(controller: "welcome", action: "sample", method: "get") do%>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Name <%= text_field_tag(:name, "", :size => "45") %>
&nbsp&nbspStudent Number <%= text_field(:person, :sn, :size => "11") %></FONT></FONT></P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Date and Place of Birth <%= text_field(:person, :birth, :size => "30") %>
&nbsp&nbspCitizenship <%= text_field(:person, :citizenship, :size => "15") %></FONT></FONT></P>
<P align=left  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Current Address <%= text_area(:person, :caddress, :rows => "3", :maxlength => 300) %>	
</FONT></FONT></P>
<P align=left  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Home Address <%= text_area(:person, :haddress, :rows => "3", :maxlength => 300) %></FONT></FONT></P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Landline/Mobile/E-mail <%= text_field(:person, :contact, :size => "55") %></FONT></FONT></P>
</fieldset>
<BR>
<fieldset>
<LEGEND><b><P align=justify>Parent/Guardian</P></LEGEND></b>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Name <%= text_field(:parents, :name, :size => "41") %>
&nbsp&nbspContact No./E-mail <%= text_field(:parents, :contact, :size => "13") %></p></FONT>
Address <%= text_area(:parents, :address, :rows => "3", :maxlength => 300) %></FONT></FONT></P></fieldset><BR>
<OL>
	<LI>Name
	of Scholarship(s)/Study Grant(s) Applied for and Desired
	Semester/Year of Award 
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><%= text_field(:person, :desire, :size => "86") %></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=2><B>(</B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>May
be left blank.</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><I><B>
The committee will endorse/nominate you for the first available
scholarship slot where you qualify.)</B></I></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=2>
	<LI>Year
	Entered the University <%= text_field(:person, :year, :size => "12") %>
	&nbsp&nbspCurrent Year Classification <%= text_field(:person, :current, :size => "5") %>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=3>
	<LI>College
	Degree Sought <%= text_field(:person, :degree, :size => "53") %>
</OL>
<P  ><BR>
</P>
<OL START=4>
	<LI>Have
	you ever incurred a grade of '4' or '5' in the past two
	semesters and last mid year if enrolled?  (If yes, list the
	subjects, grades and semesters incurred.)
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial"><FONT SIZE=2 STYLE="font-size: 11pt"><%= text_area(:person, :grades, :rows => "7", :maxlength => 600) %></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=5>
	<LI>Did
	you avail of the STS? <%= text_field(:person, :sts, :size => "2") %>
	&nbsp&nbsp (If yes, what tuition fee discount
	level are you in?)  <%= text_field(:person, :stslevel, :size => "1") %>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=6>
	<LI>Estimated
	Gross Family Income of Parents/Guardian (Annual) <%= text_field(:person, :income, :size => "29") %>
</OL><br>
<OL START=7>
	<LI>Are
	you receiving any scholarship/grant/assistance?  <%= text_field(:person, :scholarship, :size => "4") %>If yes,
	kindly provide the following details:
	<OL TYPE=a STYLE="margin-left: 0.25in">
		<LI>Name
		of the funding agency  <%= text_field(:person, :funding, :size => "55") %>
		<LI>Benefits
		(in Peso) <%= text_field(:person, :benefits, :size => "55") %>
		<LI>Duration <%= text_field(:person, :degree, :size => "30") %>
		<LI>Does
		the funding agency allow you to have other
		scholarships/grants/assistance? <%= text_field(:person, :allow, :size => "4") %>
	</OL>
</OL>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<OL START=8>
	<LI>Have
	you been guilty of participating in any violent incident, whether on
	campus or off-campus?  (If yes, please explain under what
	circumstances.)
</OL><%= text_area(:person, :incident, :rows => "7", :maxlength => 1000) %>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=9>
	<LI>Have
	you been subjected to any disciplinary action involving a penalty of
	at least five (5) days suspension, or found guilty of a more serious
	offense?  (If yes, please explain.) <%= text_area(:person, :disciplinary, :rows => "7", :maxlength => 1000) %>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=10>
	<LI>Family
	Background
</OL><TABLE WIDTH=100% CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=31%>
	<COL WIDTH=15%>
	<COL WIDTH=8%>
	<COL WIDTH=10%>
	<COL WIDTH=22%>
	<COL WIDTH=14%>
	<TR VALIGN=TOP>
		<TD WIDTH=33% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name</FONT></FONT></P>
		</TD>
		<TD WIDTH=15% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Relationship</FONT></FONT></P>
		</TD>
		<TD WIDTH=8% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Age</FONT></FONT></P>
		</TD>
		<TD WIDTH=10% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Marital
			Status</FONT></FONT></P>
		</TD>
		<TD WIDTH=22% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Living
			with you? (Yes/No)</FONT></FONT></P>
		</TD>
		<TD WIDTH=12% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Occupation</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;">
			<input name="family[name1]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship1]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age1]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital1]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living1]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation1]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name2]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship2]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age2]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital2]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living2]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation2]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name3]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship3]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age3]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital3]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living3]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation3]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name4]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship4]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age4]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital4]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living4]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation4]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name5]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship5]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age5]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital5]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living5]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation5]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name6]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship6]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age6]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital6]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living6]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation6]">
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD width=33% style="text-align: center;border: 1px solid #00000a; ">
			<input name="family[name7]">
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[relationship7]">
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[age7]">
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[marital7]">
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[living7]">
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;">
			<input name="family[occupation7]">
		</TD>
	</TR>
</TABLE>
<P  ><BR>
</P>
<OL START=11>
	<LI>Describe
	briefly why you should be awarded the scholarship/grant applied for?
</OL><%= text_area(:person, :reason, :rows => "12", :maxlength => 2000) %>
<P  ><BR>
</P>
<P  ><BR>
</P>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">I
declare under penalties of perjury that this application has been
accomplished in good faith, verified by me and to the best of my
knowledge and belief, is true.</FONT></FONT></P>
<P  ><BR>
</P>
<P  ><BR>
</P>
<div id="textbox">
<P class="alignleft"><%= text_field(:person, :name_confirmation, :size => "53") %></P>
<P class="alignright"><%= text_field(:person, :date, :size => "21") %></P>
</div>
<br><br>
<div id="textbox">
<P class="alignleft" style="margin-left: 0.8in">Signature
over Printed Name </P>
<P class="alignright" style="margin-right: 0.6in">Date</P>
</div>
<P  ><BR>
</P>
<br>
<div>
<P  class="alignleft"><A NAME="_GoBack"></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>PLEASE
SEND SOFT COPY OF ALL DOCUMENTS TO </B></FONT></FONT><A HREF="mailto:mparciga@yahoo.com"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="text-decoration: none"><B>mparciga@yahoo.com</B></SPAN></FONT></FONT></FONT></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt">.
Then, SUBMIT </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>HARD
COPIES TO MH209.</B></FONT></FONT></P>
<p class="alignright">
	<%= submit_tag("Submit") %> </p>
<% end %>
</div>
</BODY>
</HTML>