<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML>
<style>    
	@import "compass/css3"
	html, body {
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
        font: 12pt "Arial";
    }

    hr {
    	border-style: solid;
    	border-width: 2;
    }

    input {
    	padding: 1px;
    	word-wrap: break-word;
    	text-align: center;
    }
    

    textarea {
    	outline: 0;
    	width: 100%;
    	background: transparent;
    	padding: 1px;
    	margin: 1px;
    	resize: none;
  		word-wrap: break-word;

    }
    table {
	    width: 100%;
	    border-collapse:collapse;
	    margin: auto;
	    border: 2px solid black;
	    table-layout: fixed;
	}
	td {
	    text-align: center;
	}
	tr {
		height: 15px;
	}
	td input {
	    box-sizing: border-box;
	    width: 100%;
	    padding: 0;
	}

    .alignleft {
    	float:left;
    }

    .alignright {
    	float:right;
    }

    p, ol {
    	margin: 0;
    	padding: 0;
    	size: 8.27in 11.69in;
    	word-wrap: break-word;

    }

    #adjust {
    	font-size-adjust: 0.58;
    	border-bottom: 0px;
    	border: 0;
    }

    .table-editable {
    	position: relative;

    	.glyphicon {
    		font-size: 25px;
    	}
    }

    span {
    	border-bottom: 1px solid black;
    	display: inline-block; 
    	overflow: hidden; 
    	text-align: center;
    	word-wrap: break-word;
    	word-break: break-all;
    }

    li {
    	list-style-position: inside;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 8.5in;
        min-height: 11in;
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }
    @page {
        size: letter;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<HEAD >
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Windows User">
	<META NAME="CREATED" CONTENT="20150710;5100000000000">
	<META NAME="CHANGEDBY" CONTENT="user">
	<META NAME="CHANGED" CONTENT="20160711;25100000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Hewlett-Packard Company">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
</HEAD>
<BODY LANG="en-PH" LINK="#0563c1" DIR="LTR">
<div class="page">
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>University
of the Philippines</B></FONT></FONT><SPAN DIR="LTR" STYLE="float: right; width: 2.01in; height: 1.78in; border: 1px solid #000000; padding: 0.05in 0.1in; background: #ffffff "><FONT FACE="Arial, serif">ID
	PHOTO</FONT>
</SPAN>
</P>
<P ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">College
of Engineering 
<br>
Melchor
Hall, Diliman, Quezon City 1101
<br>
Tel/Fax:
+632 981 8500 ext 3152</FONT></FONT></P>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt"></FONT></FONT></P>
<P  ><BR>
</P>
<P  ><BR>
</P>
<hr>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Undergraduate
Scholarships and Study Grants</FONT></FONT></P>
<P STYLE="text-indent: 0.5in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>APPLICATION
FORM</B></FONT></FONT></P>
<P><BR>
</P>
<P align=justify  ><FONT FACE="Arial, serif"><FONT SIZE=2>INSTRUCTIONS:
Accomplish this form and submit to the Office of the Associate Dean
for Student Affairs, UP College of Engineering. Attach with this form
the following: </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>1)
a letter of endorsement from your department chairperson/institute
director;    2) an SDC clearance; 3) a copy of recent Form5 with ID;
4) a copy of parents ITR;   5) TCG; and   6) Letter of intent address
to Donor/ADSA</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>.
 Please see announcements from the Committee on Scholarships of the
UP College of Engineering for the deadline of the submission.</FONT></FONT></P>
<hr>
<fieldset>
<legend><b><p>Applicant</p></b></legend>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Name:  <span style="width: 458px;"> <%= params[:person][:name] %> </span>
Student Number: <span style="width: 150px;"> <%= params[:person][:sn] %> </span>
</FONT></FONT></P>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
Date and Place of Birth: <span style="width: 380px"><%= params[:person][:birth] %></span>&nbsp&nbspCitizenship: <span style="width: 150px"><%= params[:person][:citizenship] %></span></FONT></FONT></P>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Current Address:
	  <textarea readonly style="height: 50px;"><%= params[:person][:caddress] %></textarea></FONT></FONT></P>
<P align=left  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Home
Address:
<textarea readonly style="height: 50px;"><%= params[:person][:haddress] %></textarea></FONT></FONT></P>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Landline/Mobile/E-mail: <span style="width: 600px"><%= params[:person][:contact] %> </span></FONT></FONT></P>
</fieldset>
<BR>
<fieldset>
<LEGEND><b><P align=justify  >Parent/Guardian</P></LEGEND></b>
<P><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name: <span style="width: 380px"><%= params[:parents][:name] %></span>&nbsp&nbspContact No./E-mail: <span style="width: 210px"><%= params[:parents][:contact] %></span></p></FONT>
Address: <textarea readonly style="height: 50px"><%= params[:parents][:address] %></textarea></FONT></FONT></P></fieldset><BR>
<OL>
	<LI>Name
	of Scholarship(s)/Study Grant(s) Applied for and Desired
	Semester/Year of Award 
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><br><span style="width: 770px"><%= params[:person][:desire] %></span></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial, serif"><FONT SIZE=2><B>(</B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><U><B>May
be left blank.</B></U></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><I><B>
The committee will endorse/nominate you for the first available
scholarship slot where you qualify.)</B></I></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=2>
	<LI>Year
	Entered the University <span style="width: 100px"><%= params[:person][:year] %></span>&nbsp&nbspCurrent Year Classification <span style="width: 80px"><%= params[:person][:current] %></span>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=3>
	<LI>College
	Degree Sought <span style="width: 300px"><%= params[:person][:degree] %></span>
</OL>
<P  ><BR>
</P>
<OL START=4>
	<LI>Have
	you ever incurred a grade of '4' or '5' in the past two
	semesters and last mid year if enrolled?  (If yes, list the
	subjects, grades and semesters incurred.)
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><FONT FACE="Arial"><FONT SIZE=2 STYLE="font-size: 11pt"><textarea readonly style="height: 100px"><%= params[:person][:grades] %></textarea></FONT></FONT></P>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=5>
	<LI>Did
	you avail of the STS?&nbsp<span style="width: 60px"><%= params[:person][:sts] %></span>&nbsp&nbsp (If yes, what tuition fee discount
	level are you in?)  <span style="width: 40px"><%= params[:person][:stslevel] %></span>
</OL>

<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>

<OL START=6>
	<LI>Estimated
	Gross Family Income of Parents/Guardian (Annual) <span style="width: 300px"><%= params[:person][:income] %></span>
</OL>
<br>
<OL START=7>
	<LI>Are
	you receiving any scholarship/grant/assistance?  <span style="width: 60px; text-align: center"><%= params[:person][:scholarship] %></span> If yes,
	kindly provide the following details:
	<OL TYPE=a STYLE="margin-left: 0.25in">
		<LI>Name
		of the funding agency <span style="width: 440px;"><%= params[:person][:funding] %></span>
		<LI>Benefits
		(in Peso) <span style="width: 505px;"><%= params[:person][:benefits] %></span>
		<LI>Duration <span style="width: 562px; text-align: center"><%= params[:person][:duration] %></span>
		<LI>Does
		the funding agency allow you to have other
		scholarships/grants/assistance? <span style="width: 60px"><%= params[:person][:allow] %></span>
	</OL>
</OL>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<OL START=8>
	<LI>Have
	you been guilty of participating in any violent incident, whether on
	campus or off-campus?  (If yes, please explain under what
	circumstances.)
</OL><textarea readonly style="height: 100px" maxlength="285"><%= params[:person][:incident] %></textarea>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=9>
	<LI>Have
	you been subjected to any disciplinary action involving a penalty of
	at least five (5) days suspension, or found guilty of a more serious
	offense?  (If yes, please explain.) <textarea readonly style="height: 100px" maxlength="285"><%= params[:person][:disciplinary] %></textarea>
</OL>
<P STYLE="margin-left: 0.25in; margin-bottom: 0in"><BR>
</P>
<OL START=10>
	<LI>Family
	Background
</OL><TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=186>
	<COL WIDTH=81>
	<COL WIDTH=28>
	<COL WIDTH=44>
	<COL WIDTH=95>
	<COL WIDTH=79>
	<TR VALIGN=TOP>
		<TD WIDTH=33% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Name</FONT></FONT></P>
		</TD>
		<TD WIDTH=15% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Relationship</FONT></FONT></P>
		</TD>
		<TD WIDTH=8% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Age</FONT></FONT></P>
		</TD>
		<TD WIDTH=10% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Marital
			Status</FONT></FONT></P>
		</TD>
		<TD WIDTH=22% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Living
			with you? (Yes/No)</FONT></FONT></P>
		</TD>
		<TD WIDTH=12% style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Occupation</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  text-align: center; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<span class="adjust"><%= params[:family][:name1] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship1] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age1] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital1] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living1] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:occupation1] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:name2] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		
			<span class="adjust">	<%= params[:family][:relationship2] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age2] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital2] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living2] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:occupation2] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:name3] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship3] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age3] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital3] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living3] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:occupation3] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:name4] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship4] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age4] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital4] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living4] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:occupation4] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:name5] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship5] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age5] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital5] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living5] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:occupation5] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<span class="adjust"><%= params[:family][:name6] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship6] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age6] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital6] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living6] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		
			<span class="adjust">	<%= params[:family][:occupation6] %></span>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  WIDTH=186 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:name7] %></span>
		</TD>
		<TD  WIDTH=81 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:relationship7] %></span>
		</TD>
		<TD  WIDTH=28 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:age7] %></span>
		</TD>
		<TD  WIDTH=44 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:marital7] %></span>
		</TD>
		<TD  WIDTH=95 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			
			<span class="adjust"><%= params[:family][:living7] %></span>
		</TD>
		<TD  WIDTH=79 style="border: 1px solid #00000a; text-align: center;  padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<span class="adjust"><%= params[:family][:occupation7] %> </span>
		</TD>
	</TR>
</TABLE>
<P  ><BR>
</P>
<OL START=11>
	<LI>Describe
	briefly why you should be awarded the scholarship/grant applied for?
</OL><textarea readonly style="height: 200px" maxlength="285"><%= params[:person][:reason] %></textarea>
<P  ><BR>
</P>
<P  ><BR>
</P>
<P  ><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 11pt">I
declare under penalties of perjury that this application has been
accomplished in good faith, verified by me and to the best of my
knowledge and belief, is true.</FONT></FONT></P>
<P><BR>
</P>
<P><br>
</P>
<div id="textbox">
<P class="alignleft"><span style="width: 380px; border: 0; outline: 0; padding: 1px; border-bottom: 1px solid black"><%= params[:person][:name] %></span></P>
<P class="alignright"><span style="width: 150px; border: 0; outline: 0; padding: 1px; border-bottom: 1px solid black"><%= params[:date] %></span></P>
</div>
<br><br>
<div id="textbox">
<P class="alignleft" style="margin-left: 0.8in">Signature
over Printed Name </P>
<P class="alignright" style="margin-right: 0.6in">Date</P>
</div>
<P><BR>
</P>
<br>
<P  ><A NAME="_GoBack"></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>PLEASE
SEND SOFT COPY OF ALL DOCUMENTS TO </B></FONT></FONT><A HREF="mailto:mparciga@yahoo.com"><FONT COLOR="#00000a"><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="text-decoration: none"><B>mparciga@yahoo.com</B></SPAN></FONT></FONT></FONT></A><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt">.
Then, SUBMIT </FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>HARD
COPIES TO MH209.</B></FONT></FONT>
</div>
</BODY>
</HTML>